
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.container {
    height: auto;
    margin: 0 auto;
    padding: 20px 10px;
    max-width: 1675px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.brand-title {
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-mono);
    padding: 20px 10px;
}

.navbar-links ul {
    display: flex;
    align-items: center;
}

.navbar-links li a {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 2.5rem;
}

.navbar-links li a:hover {
    color: red;
}

i.ham-icon {
    display: none;
    color: white;
    position: absolute;
    right: 1.2rem;
}

.btn {
    font-weight: 100;
    font-family: var(--font-mono);
    color: red;
    border: 1px solid red;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5%;
    transition-delay:  1s ease;
}

.btn:hover {
    background: red;
    color: white;
}

.grow {
    transition: all .3s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.intro .btn {
    background: red;
    color: white;
}

.intro .btn:hover {
    color: red;
    background: var(--dark-black);
}

:root {
    --dark-nav: rgb(12, 11, 11);
    --font-sans: "Inter", sans-serif;
    --font-mono: 'Roboto Mono', monospace;
    --fz-xl: 20px;
    --dark-black:  rgb(0, 0, 0);
    --lightest-slate: #ccd6f6;
    --light-grey: rgb(184, 182, 182);
}

header {
    background-color: var(--dark-black);
    padding-bottom: 240px;
}

.home {
    width: 100%;
    height: fit-content;
    color: white;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}


.intro h1,
.intro h2,
.intro h3 {
    margin-bottom: 10px;
    line-height: 1.3;
}

.grid {
    display: grid;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: 60% 40%;
    width: 100%;
}


.intro {
    justify-self: end;
    padding-left: 30px;
}


.intro h1 {
    font-family: var(--font-mono);
    font-size: 20px;
    color: red;
}

.big-heading {
    font-size: 65px;
    font-family: var(--font-sans);
    font-weight: 600;
}

h3.big-heading {
    color: var(--light-grey);
}

.intro p {
    font-family: var(--font-sans);
    line-height: 1.6;
    letter-spacing: 0.01em;
    font-size: 18px;
    color: var(--light-grey);
    margin-bottom: 4em;
}

.img {
    justify-self: start;
    align-self: start;
    max-width: 350px;
    height: auto;
    object-fit: cover;
}

.img img {
    box-shadow: 20px 20px red;
    width: 100%;
}


.about {
    padding: 60px 0;
    font-family: var(--font-sans);
}

.section-heading {
    width: 100%;
    font-family: var(--font-mono);
    margin: 10px  0 40px;
}

.about .grid {
    /* width: 100%; */
    grid-gap: 10px;
    grid-template-columns: 3fr 4fr;
    
}

.about-me-text .img {
    max-width: 290px;
}

.about-me-text img {
    box-shadow: 20px 20px black;
    margin-bottom: 40px;
    width: 100%;
}

.about-me-text p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.about-me-text span {
    color: red;
}

.skills {
    align-self: start;
    display: flex;
    flex-direction: column;
}

.bar {
    height: 44px;
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 15% 85%;
}

.skill-name {
    background: rgb(34, 34, 34);
    font-family: var(--font-mono);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-name p {
    font-size: 12px;
    padding: 10px 10px;
}

.proficiency {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 31, 31);
}

.cpp {
    width: 89%;
}

.c {
    width: 75%;
}

.js {
    width: 89%;
}

.git {
    width: 78%;
}

.htm {
    width: 95%;
}

.css {
    width: 88%;
}

.proficiency-text {
    color: white;
}

.projects {
    background: rgb(29, 29, 29);
    color: white;
    padding: 60px 0px;
}

.project-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin: 60px 0;
    font-family: var(--font-sans);
}

.project-item {
    display: inline-block;
    max-width: 440px;
    border: solid 1px black;
    position: relative;
    box-shadow: 20px 20px 10px black,
                10px 10px 5px rgb(29, 28, 28);
                
}

.project-details {
    background: rgb(31, 31, 31);
    padding: 20px 20px 40px;
    min-height: 300px;
    width: fit-content;
}

.project-details h2 {
    font-family: var(--font-mono);
    color: red;
    margin: 10px 0;
    font-size: 24px;
}

.project-details p {
    padding: 20px 0;
    margin-bottom: 20px;
   line-height: 1.6;

}

.project-item img {
    width: 100%;
    object-fit: cover;
    height: 274px;
}

.project-item a {
    position: absolute;
    bottom: 20px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 60px 0;
    
}

footer h2 {
    text-align: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text h4 {
    color: var(--light-grey);  
}

.contact-text p {
    padding: 30px 0;
    text-align: center;
    font-family: var(--font-mono);
}

.contact-text span {
    color: red;
}

.links {
    display: flex;
    margin: 30px 0 50px;
}

.links a {
    margin: 10px;
}

.copyright {
    font-family: var(--font-mono);
    font-size: 14px;
}


@media screen and (max-width: 1520px) {
    .project-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects  h2 {
        text-align: center;

    }

    .project-details .btn {
        display: block;
        text-align: center;
    }

    .project-item {
        display: block;
        margin: 40px 10px;
                    
    }

    .project-item .project-wrapper   {
        display: flex;
        flex-direction: column;
        
    }

}


@media screen and (max-width: 900px) {
    i.ham-icon {
        display: inline-block;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        background:rgb(31, 31, 31);
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar-links ul li {
        padding: 20px 10px;
        width: 100%;
    }

    .navbar-links ul a.btn {
        display: inline-block;
    }

    .navbar-links.active {
        display: flex;
    }

    .container {
        width: 100%;
        padding: 15px;
    }

    header {
        padding-bottom: 60px;
    }

    .home {
        flex-direction: row;
        justify-content:center;
    }

    .intro {
        justify-self: center;
        padding-left: 0;
        grid-area: intro;
    }

    .grid {
        padding: 0;
        grid-template-columns: auto;
        grid-template-areas: "my-image"
                             "intro";
        grid-gap: 40px;
    }

    .img {
        max-width: 316px;
        grid-area: my-image;
        justify-self: center;
    }

    .big-heading {
        font-size: 40px;
        font-family: var(--font-sans);
        font-weight: 600;
    }


    .about .grid {
        /* width: 100%; */
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 70px;
    }

    .links {
        flex-direction: column;
    }


}

@media screen and (max-width: 570px) {
    
    .intro {
        padding: 10px;
        text-align: left;
    }

    .intro p {
        line-height: 1.3;
        font-size: 18px;
    }

    .img {
        max-width: 260px;
        width: 100%;
    }

    .bar {
        height: 28px;
    }

}

